/* TODO Add site wide styles */


a {
    color: black;
    text-decoration: none;
}

html,
body {

    box-sizing: border-box;
    font-family: Montserrat;
    /* overflow: auto; */
    /* overflow-x: hidden; */
    word-wrap: break-word;
}

ul,
li {
    list-style-type: none;
}

button,
input:hover {
    cursor: pointer;
}

button,
input:focus {
    outline: none;

}

/* button :hover{
    box-shadow: 0px,0px,10px rgba(255, 56, 92,0.5);
} */
input:focus::placeholder {
    opacity: 0;
}

.input-m {
    text-align: left;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(255, 56, 92);
    font-weight: 500;

}

/* @media screen and (min-width:1601px) and (max-width:1650px) {
    body {
        margin: 0, auto;


    }

    .spot-images {
        margin-left: 20px;

    }

    .price-review-side-div {
        margin-right: 3%;

    }
} */

/*
@media screen and (min-width:1550px) and (max-width:1600px) {
    .spot-images {
        margin-left: 35px;

    }

    }




@media screen and (min-width:1650px) {
    .spot-images {
        margin-left: 75px;


    }
}
 @media screen and (min-width:1800px) {
   .card {
    max-width:100%;

}
.spot-images {
    margin-left: 11%;


}

 } */
img {
    object-fit: cover;
}
html::-webkit-scrollbar-thumb {
    /* Foreground */

    background: rgba(248, 234, 234, 0.3);
    border-radius: 8px;

    border: 15px solid transparent;
    /* 设置边距透明 */
    background-clip: padding-box;
    /* 设置背景范围 */
    -webkit-box-shadow: inset005pxrgba(0, 0, 0);

}

html::-webkit-scrollbar-track {
    /* Background */
    background: white;

    /* margin-block: 1px; */
    border-top: 1px solid rgb(30, 31, 33, );
}

html::-webkit-scrollbar {
    width: 1px;
    size: 1px;
    height: 1px;
    background-color: rgba(30, 31, 33, 0.3);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(30, 31, 33, 0.3);
    border-radius: 10px;
}
